NODE_ENV=production
API_URL=https://api-staging.successkid.com
DATABASE_URL=postgresql://username:password@postgres-staging:5432/successkid
REDIS_URL=redis://redis-staging:6379/0
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_*****
CLERK_SECRET_KEY=sk_test_*****
NEXT_PUBLIC_SUPABASE_URL=https://supabase-staging.successkid.com
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ*****
NEXT_PUBLIC_API_URL=https://api-staging.successkid.com